APP_ENV=development

APP_PORT=8080
DB_DSN=postgres://user:password@localhost:5432/portfolio?sslmode=disable

# SEED (gunakan password yang kuat, jangan default)
SEED_ADMIN_NAME=Admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ganti-dengan-password-kuat

# Kalau mau auto buat sample tags+project:
SEED_SAMPLE_DATA=true

# JWT
# WAJIB diganti. Minimal 32 karakter. Generate dengan: openssl rand -base64 48
JWT_SECRET=
JWT_EXPIRES_IN=3600 # detik, misal 1 jam

# CORS
# Jangan gunakan '*' jika CORS_ALLOW_CREDENTIALS=true.
CORS_ALLOWED_ORIGINS=http://localhost:3000
CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Origin, Content-Type, Accept, Authorization
CORS_ALLOW_CREDENTIALS=true
